.Intro {
  width: 100%;
  height: 100%;
  background-color: var(--sp_green);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.welcomeBanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeBanner img {
  width: 200px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.intro_content {
  text-align: center;
}

.clickableText {
  cursor: pointer;
}
.clickableText:hover {
  color: white;
}
