.NoActionPlaceholder {
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--dul_gray);
}

.NoActionPlaceholder img {
  width: 150px;
}
