.MultiRowAction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: inherit;
}

.MultiRowAction_cation {
  background-color: var(--sp_green);
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: inherit;
  align-items: center;
}

.MultiRowAction_tableContainer {
  height: calc(100% - 200px);
  overflow-y: auto;
}

.MultiRowAction_action {
  display: flex;
  gap: 10px;
  justify-content: end;
}
