.Searchbox {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  box-sizing: border-box;
  gap: 20px;
}

.Searchbox > button {
  min-width: 100px;
  max-width: 150px;
  color: white;
  background-color: var(--sp_green);
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 14px;
}
