.Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.Form_buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}
