.Wrkspace {
  width: 100%;
  height: 70%;
  background-color: white;

  position: absolute;
  top: calc(100vh - 70%);
  left: 0;
  z-index: 2;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
}

.Wrkspace.full-height {
  height: 100%;
  top: 0;
}

.Wrkspace_dataContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Wrkspace_dataContainer > div:nth-child(odd) {
  width: 100%;
  height: 100%;
}

.Wrkspace_dataContainer > div:nth-child(1) {
  flex: 2;
}

.Wrkspace_dataContainer > div:last-child {
  flex: 1;
}
